@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lora';
  src: url("./assets/fonts/Lora.ttf");
}

@font-face {
  font-family: 'Lora';
  font-weight: bold;
  src: url("./assets/fonts/Lora-Bold.ttf");
}


body {
  @apply font-serif min-h-screen w-auto overflow-x-hidden m-0 bg-base-100 scrollbar;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-4 h-4;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-base-100 rounded-full;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-base-300 rounded-full border-2 border-solid border-base-100 hover:bg-primary;
  }
}


.main-content {
  @apply grid lg:grid-cols-2 sm:grid-cols-1 gap-x-12 gap-y-10 mx-44 my-6 justify-center px-20 static;
}

.tabs-content {
  @apply tabs justify-center mt-4 gap-x-2 mx-auto static;
}

.tab-active{
  @apply inline-block py-1 px-5 text-base-100 bg-primary border border-primary rounded-full;
}

.tab-inactive{
  @apply inline-block py-1 px-5 border border-primary rounded-full text-primary;
}


.navbar {
  @apply w-screen bg-base-100 border border-y-primary flex align-middle mt-px px-16 justify-between;
}

.side-bar {
  @apply p-4 m-2 flex flex-col w-1/6 sticky top-20;
}

hr {
  @apply h-px w-full border-t border-primary mt-4 mb-1;
}


.cardItem {
  @apply grid pt-8 pb-2 px-4 content-between bg-transparent rounded-md border border-primary w-fit h-auto;
}

article {
  @apply rounded-lg shadow-primary;
  box-shadow: .6rem .6rem;
  transition: all .14s ease-out;
}

article:hover {
  @apply shadow-primary;
  transform: translate(-.5rem, -.5rem);
  box-shadow: .35rem .35rem;
  transition: all .14s ease-out;  
}


a{
  @apply text-primary decoration-inherit;
}

a, a::before, a::after, a:hover, a:focus, a:active, a:visited, a:link, a::marker {
  text-decoration: none;
}


button {
  @apply rounded-full p-3 text-primary;
}

.pagination {
  @apply flex justify-center items-center gap-x-4 mt-10 px-4 py-2 sticky bottom-2 bg-base-100 border border-primary rounded-full max-w-fit mx-auto;
}

.pagination__link {
  @apply inline-block py-1 px-5 border border-primary rounded-full text-primary hover:bg-primary hover:text-base-100;
}

.pagination__link--active {
  @apply py-1 px-4 border border-primary rounded-full font-bold;
}

.pagination__link--disabled {
  @apply text-primary opacity-50 cursor-not-allowed;
}

.footer-content {
  @apply footer mb-1 mt-10 border border-y-primary p-10 bg-base-100 w-screen text-primary bottom-1;
}